<!-- Navbar Class -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
	<!-- <div class="container-fluid"> -->
	<a class="navbar-brand" href="#">YelpGround</a>
	<!-- Nav Collapsible button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarNav"
		aria-controls="navbarNav" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Links on navbar -->
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="/campground">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/campground/new">Add New Campground</a>
			</li>


		</ul>
		<div class="navbar-nav ml-auto" id="navbarNav">
			<ul class="navbar-nav">
				<% if(!currentUser) { %>
					<li class="nav-link">
						<a href="/login">Login</a>
					</li>
					<li class="nav-link">
						<a href="/register">Register</a>
					</li>
					<% } else { %>

						<li>
							<a class="nav-link" href="/logout">Logout</a>
						</li>
						<% } %>
			</ul>


		</div>

	</div>

	</div>
</nav>